* text=auto
*.sh text eol=lf
*.service text eol=lf
*.timer text eol=lf
packaging/sudoers/* text eol=lf
Makefile text eol=lf
packaging/deb/* text eol=lf
scripts/saguaro-firewall text eol=lf
scripts/saguaro-ids text eol=lf
scripts/saguaro-rpz text eol=lf
scripts/saguaro-proxy text eol=lf
scripts/saguaro-cert text eol=lf
scripts/saguaro-vpn text eol=lf
scripts/saguaro-backup-config text eol=lf
scripts/saguaro-wan text eol=lf
scripts/saguaro-net text eol=lf
scripts/saguaro-route text eol=lf
scripts/saguaro-logs text eol=lf
scripts/saguaro-tools text eol=lf
scripts/saguaro-webproxy text eol=lf
scripts/saguaro-s2s text eol=lf
scripts/saguaro-ipsec text eol=lf
scripts/saguaro-svc text eol=lf
scripts/saguaro-power text eol=lf
scripts/saguaro-pkg text eol=lf
*.yml text eol=lf
*.go text eol=lf
